*{
    margin: 0;
    padding: 0;
}
/* header  */
.header{
    height: 800px;
    margin-bottom: 200px;
}
.logo{
    padding: 20px 100px;
    font-weight: 600;
}
.manue {
	display: block;
	margin: 20px 0px;
}
.manue a{
padding: 20px 30px;
margin-top: 20px;
font-size: 20px;
text-decoration: none;
}
.headerplus{
    padding: 100px;
}
.headerplus h3 {
	font-size: 51px;
	font-weight: 605;
}
.headerplus p {
	font-size: 20px;
	margin: 30px 0;
}
.headerplus a {
	font-size: 20px;
	text-decoration: none;
	background: linear-gradient(180deg, #FFBB00 0%, #F2A60C 100%);
	color: #332200;
	padding: 10px 27px;
	border-radius: 5px;
}
/* .product  */
.product h2 {
	font-size: 50px;
	padding: 0px 243px;
	margin-bottom: 30px;
	font-weight: 600;
	margin-left: -244px;
}
.product h2 i{
    font-size: 10px;
    margin-left: 5px;
    color: orange;
}
.dot{
    color: #F2A60C;
}
.product-item {
	
}
.product-item h4 {
	margin: 10px 0px;
	font-size: 28px;
	font-weight: 699;
}
.product-items{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-left: 244px;
}
.product img{

}
/* .tecnologia  */
.tecnologia {
	padding: 100px;
}
.tecnologia p {
	color: gray;
	font-size: 25px;
	width: 800px;
}
.tecnologia h4 {
	font-size: 58px;
	font-weight: 600;
}
.tecnologia h4 i{
    color: orange;
    font-size: 10px;
    margin-left: 5px;
}
.tecnologia h6{
    width: 400px;
}
.motor-electic{
    width: 300px;
    margin-left: 200px;
}
.tecnologia h5 {
	font-size: 27px;
}
.fa-sharp.fa-solid.fa-bicycle {
	color: orange;
	font-size: 29px;
	margin: 37px 27px 0 0;
}
.tecnologia h6 {
	width: 400px;
	margin: 10px 0;
	font-size: 20px;
	color: gainsboro;
}
.tecnologia a {
	font-size: 24px;
	background: ;
	color: orange;
	font-weight: 600;
}
.Tecnologia.bg-black.text-white {
	height: 900px;
	margin: 150px 0;
}
.motor-electic img {
	margin: -100px;
}
.pertine img {
	margin: 0 auto;
	display: block;
	width: 1876px;
	height: 300px;
}
/* .cycle  */
.cycle {
	background: orange;
	margin: 100px 0 0 0;
}
.cycle p {
	font-size: 36px;
	width: 600px;
	margin: 200px 0 30px;
    position: relative;
}
.fa-solid.fa-quote-left {
	font-size: 97px;
	color: #E4A30B;
	position: absolute;
	margin: -45px -83px;
}
.cycle img {
	margin-left: -13px;
}
.fa-solid.fa-quote-right {
	font-size: 83px;
	position: absolute;
	color: #E4A30B;
}
/* footer */
.footer{
    background: #121212;

}
.price-item{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
margin-bottom: 50px;

}
.pice i{
    color: orange;
    margin-right: 5px;
}
#ouro{
    color: orange;
    font-weight: 600;
    padding: 29px;
}
.pice p{
font-weight: 400;
}
.sectionone{
background-color: rgb(0, 0, 0);
width: 351px;
padding: 50px;
height: 400px;
}
.sectiontwo{
    background-color: rgb(0, 0, 0);
width: 351px;
margin-left: 50px;
padding: 50px;
}
.sectionone a {
	background: #121212;
	border: 1px solid gray;
	color: white;
	padding: 0px 15px;
	text-decoration: none;
}
.sectiontwo a {
	text-decoration: none;
	background: ore;
	background: orange;
	color: black;
	padding: 2px 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: block;
	width: 168px;
}
#seguros{
	font-size: 79px;
	margin: 0px 307px;
	font-weight: 600;
}
#seguros i{
	color: orange;
	font-size: 10px;
	margin-left: 5px;
}